$mainColor: #f0652e;
$orangeColor:#ff9900; // 橙色
$blueColor:#03c; // 蓝色
$textBlueColor: #09c; // 文字蓝
$skyBlueColor:#19D5FD; // 天蓝
$haiColor:#18b5cd; // 海蓝
$greyColor: #999; //字体灰色
$bgGreyColor:#aeaeae; // 背景灰
$LightGreyColor: #f3f3f3; // 浅灰色
$whiteColor:#fff; // 白色
$redColor:red; // 红色
$danhongColor:#f36246; // 淡红
$anhongColor:#c2301c; // 暗红
$pinkColor:#ff6b6b; // 粉红色
$greenColor:#95eb6c; // 绿色
$jinseColor:#f4d69b; // 金色
