$whiteColor: #fff; // 白色
$blueColor: #1d62f0; // 蓝色
$skyBlueColor: #19d5fd; // 天蓝色
$doderBlueColor: #18b5cd; // 道奇蓝
$lightGrayColor: #d8d6d6; // 浅灰色1
$lGrayColor: #f3f4f9; // 浅灰色2
$greyColor: #3a3a3a; // 灰色
$fontGreyColor: #8f8c8c; // 字体灰
$orangeColor: #f78e04; //橙色
$pinkColor: #ff6b6b; // 粉红色
$cyanColor: #18cdb5; // 青色
$lightGreyColor: #f2f2f2; // 淡灰色
$blackColor: #000; // 黑色
