$mainColor: #df622d; // 橙色
$lightOrangeColor: #ffb225; // 浅橙色
$lightGrey: #f3f3f3; // 浅灰色
$whiteColor: #fff; // 白色
$grayBlueColor: #699; // 灰蓝
$yellowColor:yellow; // 金币黄
$redColor:red; // 红色
$blueColor:#00a1ff; // 蓝色